@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/*INICIO LOGIN.PHP*/

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.login-page h1 {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    text-align: center;
    position: relative;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
#btnLogin{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #294f75;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all;
    transition: all;
    cursor: pointer;
}
#btnLogin:hover,.form button:active,.form button:focus {
    background: #246e94;
}
.form .message {
    margin: 15px 0 0;
    /*color: #f2f2f2;*/
    font-size: 12px;
}
.form .message a {
    /*color: #4CAF50;*/
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    /*color: #1a1a1a;*/
}
.container .info span {
    /*color: #4d4d4d;*/
    font-size: 12px;
}
.container .info span a {
    /*color: #000000;*/
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
body {
    /*background: #246e94;
    background: -webkit-linear-gradient(right,#294f75, #246e94 );
    background: -moz-linear-gradient(right, #294f75,#246e94 );
    background: -o-linear-gradient(right,#294f75, #246e94 );
    background: linear-gradient(to left,  #294f75, #246e94);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
}


/*FIN LOGIN.PHP*/

/*INICIO NAVBAR (LOGOUT.inc.PHP)*/
body {
    margin: 0;
    padding: 0;
    background: #ccc;
}


/*FIN NAVBAR (LOGOUT.inc.PHP)*/

/*INICIO nuevoUsuario.php*/
.form-style-1 {
    margin:10px auto;
    /*max-width: 400px;*/
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
/*.form-style-1 div {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}*/
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}

.div-nombre, .div-dom, .div-contacto{
    padding: 0;
    display: inline-block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
   /* background: #4B99AD;*/
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
#btnUsuarioCancelar {
    background: red;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    /*background: #4691A4;*/
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}

#ddlCategoria{
    width: 10px;
}

#ddlCategoria option{
    width: 100px;
}

/*FIN nuevoUsuario.php*/
